/*
Application: Antelope.io
Author: Oliver (Redbully14urh@gmail.com)
NOTE: This file contains all the application-wide css for the entire website.
*/

/*================================================
[  Table of contents  ]
================================================

:: Header

======================================
[ End table content ]
======================================*/

/*--------------------------------------------------------------------
                            Header
---------------------------------------------------------------------*/

.ant-header .department-select .department-select {
  
}